body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#c06702;
}
main h1{
    font-size:large;
    color:black
}

nav{
    color:black
}
footer{
    color:#393331
}

#rivals{
    color:black
}
#CSS{
    color:#281D13
}

hr{
    color:black
}

#emph{
    color:black
}


.de-emph{
    color:#773F00
}



.midoriya{
    color:black
}


